.vscode/**
.vscode-test/**
out/**
src/**
test/**
node_modules/**
!node_modules/whatever-we-actually-need/**
.gitignore
.eslintrc*
eslint.config.mjs
esbuild.js
tsconfig.json
jest.config.js
**/*.map
**/tsconfig*.json
**/.eslintrc*
coverage/**
PLAN.md
**/*.test.ts
