.github/**
.vscode/**
.vscode-test/**
out/**
src/**
test/**
node_modules/**
.gitignore
.eslintrc*
eslint.config.mjs
esbuild.js
tsconfig.json
jest.config.js
**/*.map
**/tsconfig*.json
**/.eslintrc*
coverage/**
PLAN.md
**/*.test.ts
dist/extension-esbuild-metafile.json
